@using DAO.Modelo
@model tb_asunto_ticket

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Modal.cshtml";
}

<h2>Registrar nuevo Asunto Ticket</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label" for="asunto_descripcion_ticket">Descripcion del Asunto: </label>
            @Html.TextBoxFor(model => model.asunto_descripcion_ticket, htmlAttributes: new { @class = "form-control" })

        </div>
        <div class="form-group">
            <input type="submit" value="Registrar" class="btn btn-success" />
        </div>
    </div>
}
