@using BEAN
@model LoginBEAN
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginPage.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.User, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.User, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Pass, new { @class = "control-label" })
            @Html.PasswordFor(model => model.Pass, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" value="Registrar" class="btn btn-success" />
        </div>
    </div>
}

