<!DOCTYPE html>

<html>
<head>
    <meta name="description" content="Descripcion: Acceso al sistema.">
    <title>@ViewBag.Title</title>
    <!--descripcion-->
    <title>Login</title>
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/bootstrap 4.0.0/bootstrap.min.css")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
