<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <style>
        .espacio_izquierda {
            margin-left: 20px
        }
    </style>
    <div>
        @RenderBody()
    </div>
</body>
</html>
